/node_modules
/ffmpeg-20180613-c5e6c0b-win64-static
/dblstats.js
/botconfig/token.json
/BotCommands/botconfig/token.json
/.vscode
/.env
/BotCommands/nsfwcommands
/BotCommands/musiccommands
/BotCommands/songcommands
/Audio